<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="container">
  <table>
    <caption><b>ANGULAR CALCULATOR</b></caption>
  <tr>
    <td>First Number</td>
    <td><input type="number" #firstNumber placeholder="First Number"></td>
  </tr>
  <tr>
    <td>Second Number</td>
    <td><input type="number" #secondNumber placeholder="Second Number"></td>
  </tr>
  <tr>
  <td></td>
  <td class="center-content">
    <button (click)="add(firstNumber.value,secondNumber.value)">ADD</button>
    <button (click)="sub(firstNumber.value,secondNumber.value)">SUB</button>
  </td>
  </tr>
  <tr>
    <td class="center-content"></td>
    <td>
      <button  (click)="mul(firstNumber.value,secondNumber.value)">MUL</button>
      <button  (click)="div(firstNumber.value,secondNumber.value)">DIV</button>
    </td>
    </tr>
    <tr>
      <td><b>{{resultName}}</b></td>
      <td><b>{{result}}</b></td>
      </tr>
  </table>
</body>
</html>
